:root {
	/* Text Color */
	--c-font-text: #fff;

	/* Background Default Color */
	--c-background: #1b1b1b;

	/* Shadow Text Primary Color */
	--c-shadow-text-primary: #0D0D0D;

	/* Shadow Text Secondary Color */
	--c-shadow-text-secondary: #05F2F2;

	/* First color */
	--c-first-main: #4D0CF8;

	/* Second color */
	--c-second-main: #2BF0C6;

	/* Third color */
	--c-third-main: #05DBF2;

	/* Four color */
	--c-four-main: #5B61D9;

	/* Five color */
	--c-five-main: #02FACE;

	/* Accent colors */
	--c-accent-lighter: #0ba4e0;
	--c-accent-medium: rgba(0, 21, 204, 0.8);
	--c-accent-darker: rgba(0, 21, 204, 0.5);

	/* Transitions */
	--duration-transition: all .3s ease-in-out;

	/* Fonts Text */
	--font-text: 'Quicksand', sans-serif;

	/* Border */
	--border-rds: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 2px;
}

html {
	min-height: 100%;
	scroll-behavior: smooth;
}

body {
	background-size: 100%;
	background: radial-gradient(var(--c-accent-medium), var(--c-background));
	color: var(--c-font-text);
	font-family: var(--font-text);
	padding: 50px 20px 0;
	text-shadow: .2px .5px #000;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

a.button {
	text-decoration: none;
	background: linear-gradient(#0ba4e0, rgba(0, 21, 204, 0.9));
	color: var(--c-font-text);
	padding: 10px 15px;
	font-weight: 100;
	font-size: 12px;
	letter-spacing: 1.5px;
	border-radius: var(--border-rds);
	transition: var(--duration-transition);
}

a.button:hover {
	text-decoration: none;
	color: var(--c-font-text);
	box-shadow: 0px 0px 15px #999;
}

a.button>ion-icon {
	font-size: 18px;
}

.buttons, a.button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	gap: 10px;
	font-weight: 100;
	letter-spacing: 1px;
}

@keyframes animateTitle {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 10;
	}
}

@keyframes animateFrm {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2500;
	}

	30% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 2500;
	}

	60% {
		fill: rgba(255, 255, 255, 0);
	}

	100% {
		opacity: 10;
		stroke-dashoffset: 0;
	}
}