div#ExperiencePage::before {
    content: '';
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--c-four-main),var(--c-first-main));
    clip-path:
        /* circle(20% at 5% 15%) */
        circle(27% at 60% 50%);
    z-index: -1;
}

div#ExperiencePage {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0;
}

div#ExperiencePage>div.infoExperiences {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    gap: 30px;
    width: 80%;
}

div#ExperiencePage div.works {
    /* display: flex; */
    width: 80%;
}

div#ExperiencePage div.experienceCard {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    backdrop-filter: blur(2px);
}

div#ExperiencePage div.experienceCard div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: left;
}

div#ExperiencePage div.experienceCard>img {
    filter: grayscale(.8);
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

div#ExperiencePage div.experienceCard div.tecnologies-experiences>img {
    filter: grayscale(.5);
    width: 30px;
    margin: 0 5px;
    height: auto;
}