div#ProjectPage::before {
    content: '';
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--c-second-main) 50%, var(--c-accent-darker));
    clip-path:
        /* circle(20% at 5% 15%) */
        circle(30% at 15% 65%);
    z-index: -1;
}

div#ProjectPage {
    width: 85%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 30px;
}

div#ProjectPage div.cardProject {
    max-width: 500px;
    height: fit-content;
    border-radius: var(--border-rds);
    background-color: rgba(45, 45, 45, .1);
    box-shadow: 20px 20px 50px 10px rgba(0,0,0,.5);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(3px);
    text-align: center;
    /*border: 1px solid var(--c-third-main);*/
}

div#ProjectPage div.cardProject>div.card-header>img.projectImg {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

div#ProjectPage div.cardProject>div.card-header>div.tecnologies-card-project {
    width: 100%;
    padding: 10px 0;
}

div#ProjectPage div.cardProject>div.card-header>div.tecnologies-card-project>img {
    width: 43px;
    filter: saturate(2);
    margin: 0 15px;
}

div#ProjectPage div.cardProject>div.card-body {
    margin: 5px auto;
    width: 85%;
}

div#ProjectPage div.cardProject>div.card-body p {
    text-align: left;
    margin: 15px 0;
}

div#ProjectPage div.cardProject>div.card-footer {
    padding: 0 0 20px;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-items: baseline;
    gap: 30px;
}