div#ProjectPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

div.cardProject {
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--c-third-main);
}

div.cardProject>div.card-project-header {
    text-align: center;
    margin-bottom: 15px;
}

div.cardProject>div.card-project-header>img.projectImg {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

div.cardProject>div.card-project-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.cardProject>div.card-project-body>p {
    padding: 0 8px;
}

div.cardProject>div.card-project-body>div.tecnologies-card-project {
    width: 100%;
    background: linear-gradient(var(--c-first-main), var(--c-shadow-text-secondary));
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

div.cardProject>div.card-project-body>div.tecnologies-card-project>img {
    width: 40px;
    filter: saturate(3);
    margin: 0 3px;
}